<style>@font-face {
  font-family: 'Lexique';
  src: url('Lexique-Regular.woff2') format('woff2'),
    url('Lexique-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexique';
  src: url('Lexique-Regular.woff2') format('woff2'),
      url('Lexique-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {

  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Lexique';
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #fcedf0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexique';
}


.navbar a {
  float: left;
  display: block;
  color: #f0737f;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
  /*text-transform: uppercase;*/
}


.navbar a.right {
  float: right;
}


.navbar a:hover {
  background-color: #fcedf0;
  color: #ffb5c2;
  text-decoration: underline;
}

.header {
  padding: 80px;
  text-align: left;
  color: white;
  background-image: url(https://i.ibb.co/8sn0kpF/Header-BG-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lexique';
}


.header h1 {
  font-size: 60px;
  margin: 0px;
  font-family: 'Lexique';
  padding-left: 80px;
}

.header p {
  font-size: 45px;
  margin-top: 5px;
  max-width: 50%;
  line-height: 1.3;
  font-family: 'Lexique';
  padding-left: 80px;
}

.btn a {
  background-color: #f0737f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  text-align: center;
  text-decoration: none !important;
  font-size: 30px;
  font-family: 'Lexique';
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
}

.btn a:hover {
  background-color: #fcedf0;
  color: #f0737f;
  padding: 10px 20px;
  border: #f0737f solid 2px;
  border-radius: 16px;
}

.btn {
  margin-left: none;
  margin-right: none;
  padding-left: 80px;
}

.about {
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: left;
  color: #f0737f;
  background-color: #fcedf0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.about h1 {
  font-size: 60px;
  margin: 0px;
  font-family: 'Lexique';
  padding-left: 80px;
}

.about p {
  font-size: 30px;
  margin-top: 20px;
  max-width: 90%;
  line-height: 1.3;
  font-family: 'Lexique';
  padding-left: 80px;
}

.experiences {
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  color: #f0737f;
  background-color: #fcedf0;
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    max-height: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;
.experiences .grid {
  display: grid;
  max-height: 200px;
  align-content: left;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 20px;

}

.experiences>div {
  background-color: none;
  text-align: left;
  padding: 0px;
}

.experiences h1 {
  font-size: 60px;
  margin: 0px;
  font-family: 'Lexique';
  padding-left: 80px;

}

.experiences h2 {
  font-size: 40px;
  padding-left: 80px;
  margin-bottom: 0px;
}

.experiences p {
  font-size: 30px;
  margin-top: 5px;
  max-width: 70%;
  line-height: 1.3;
  font-family: 'Lexique';
  padding-left: 120px;
}

.skills {
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  color: #f0737f;
  background-color: #fcedf0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 800px;


}

.outer-Container {
  padding-left: 80px;
  margin-top: 40px;
  display: grid;
  align-content: left;
  max-width: 90%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
  row-gap: 30px;

}

.outer-Container .h2 {
  font-size: 40px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.iner-wrapper {
  padding: 0px 30px 30px 30px;
  background-color: #fcedf0;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 1px 3px 8px 0px #f0737f;
  box-shadow: 1px 3px 8px 0px #f0737f;


}

.skill-bar .info span {
  display: inline-block;
  margin: 30px 0px 0px 0px;
  font-size: 30px;
  font-weight: 500;
  color: #f0737f;
}

.progress-bar {
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
  width: 100%;
  height: 8px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-bar span {
  position: absolute;
  background: #000;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.html span {
  width: 100%;
  background: #ffb5c2;
}

.css span {
  width: 95%;
  background: #fec0cb;
}

.javascript span {
  width: 70%;
  background: #ffd7de;
  }
  
  .sql span {
    width: 80%;
  background: #fecbd4;
  }
  
  .photoshop span {
    width: 100%;
  background: #ffb5c2;
  }
  
  .canva span {
    width: 100%;
  background: #fec0cb;
  }
  
  .premiere span {
    width: 95%;
  background: #fecbd4;
  }
  
  .illustrator span {
    width: 90%;
    background: #ffd7de;
  }
  
  .seo span {
    width: 90%;
  background: #fecbd4;
  }
  
  .email span {
    width: 95%;
  background: #fec0cb;
  }
  
  .social span {
    width: 100%;
  background: #ffb5c2;
  }
  
  .affiliate span {
    width: 85%;
    background: #ffd7de;
  }
  
  .skills h1 {
    font-size: 60px;
    margin: 0px;
    font-family: 'Lexique';
    padding-left: 80px;
  }
  
  .skills h2 {
    font-size: 40px;
    padding-left: 80px;
    margin-bottom: 0px;
}

.skills p {
  font-size: 30px;
  margin-top: 20px;
  max-width: 70%;
  line-height: 1.3;
  font-family: 'Lexique';
  padding-left: 80px;
}

.services {
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: left;
  color: #f0737f;
  background-color: #fcedf0;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 800px;
  }
  
  .services .grid {
    padding-left: 0px;
    margin-top: 40px;
    display: grid;
    align-content: left;
    max-width: 90%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    gap: 20px;
    row-gap: 20px;
  }
  
  .services>div {
    background-color: none;
    text-align: left;
    padding: 0px;
    width: 100%;
}

.services h1 {
  font-size: 60px;
  margin: 0px;
  font-family: 'Lexique';
  padding-left: 80px;
}

.services h2 {
  font-size: 40px;
  padding-left: 80px;
  margin-bottom: 0px;
}

.services p {
  font-size: 30px;
  margin-top: 5px;
  max-width: 90%;
  line-height: 1.3;
  font-family: 'Lexique';
  padding-left: 80px;
}

.contact {
  padding-left: 80px;
  padding-top: 0px;
  padding-bottom: 40px;
  text-align: left;
  color: #f0737f;
  background-color: #fcedf0;
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    max-height: 700px;
  }
  
  .contact .icons {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 40px;
    padding-left: 80px;
    justify-content: center;
    justify-items: center;
    width: 90%;
  }
  
  .contact a {
    padding-left: 80px;
    font-size: 40px;
  }
  
  .contact h1 {
    font-size: 60px;
    margin: 0px;
    font-family: 'Lexique';
    padding-left: 80px;
    padding-bottom: 30px;
  }
  
  .contact p {
    font-size: 30px;
    margin-top: 5px;
    max-width: 50%;
    line-height: 1.3;
    font-family: 'Lexique';
    padding-left: 80px;
  }
  
  .contact form {
    width: 100%;
    max-width: 500px;
    padding-left: 80px;
    font-size: 30px;
    padding-top: 30px;
  }
  
  .contact label {
    display: block;
    margin-top: 10px;
  }
  
  .contact input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f0737f;
    border-radius: 4px;
    font-family: 'Lexique';
    font-size: 30px;
  color: #ffb5c2;
}

.contact input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #f0737f;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Lexique';
  font-size: 30px;
}

.contact input[type="submit"]:hover {
  background-color: #fcedf0;
  color: #f0737f;
  padding: 10px 20px;
  border: #f0737f solid 2px;
  border-radius: 16px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
}


.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


.main {

  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}




.footer {
  padding: 20px;
  text-align: center;
  background: #fcedf0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Lexique';
  font-size: 20px;
  color: #f0737f;
  text-decoration: none;
}

.footer a {
  text-decoration: none;
  margin: 5px 20px;
    color: #f0737f;
}

.footer a:hover {
  color: #ffb5c2;
}




@media screen and (max-width: 970px) {
  .row {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .navbar {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .header {
    padding: 20px;
  }

  .header h1 {
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lexique';
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(240, 115, 127, 0);
    background-size: auto;
      font-size: 45px;
      padding: 2px 0px 2px 0px;
      font-weight: 700;
    }

    .header p {
      font-size: 25px;
      margin-top: 10px;
      max-width: 100%;
      line-height: 1.3;
    font-family: 'Lexique';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 115, 127, 0q);


    .btn a {
      background-color: #f0737f;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 16px;
      text-align: center;
      text-decoration: none !important;
      font-size: 20px;
    font-family: 'Lexique';
    display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 150px;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: none !important;
    }

    .footer {
      font-size: 20px;
    }
}


@media screen and (max-width: 400px) {
  .navbar {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .header {
    padding: 40px;
  }

  .header h1 {
    font-size: 30px;
  }
}

</style>